.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
generate-logo.html
generate-logo.js
generate_logo.py
push-to-github.sh
images/wallpaper.png
